* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  color: #1c1c1c;
  margin: 0;
  padding: 0;
  height: 230vh;
}

h1,
h2,
h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: "Merriweather", serif;
  color: #000000;
}
.menu_responsivo {
  display: none;
}
#topo {
  display: flex;
  flex-direction: column;
}
.topo_titulo {
  margin-left: 10%;
}

#Atendimentos {
  margin-top: 50px;
  background: lightcyan;
  height: 300px;
  padding: 20px;
}

.icones {
  padding: 15px 0px 0px;
  margin-left: 100px;
}
.lbl_atendimentos {
  font-family: "Merriweather", serif;
  color: #000000;
  text-align: center;
  margin-left: 80px;
  text-decoration: none;
}
#txt_atend {
  text-align: center;
}

.contato {
  display: inline-block;
  margin-left: 500px;
  /* background-color: red; */
}
.ctn {
  font-family: "Merriweather", serif;
  color: #000000;
  font-size: 20px;
}

.icon-contato {
  display: flex;
}

.icon-email {
  display: flex;
}
.links {
  color: black; /* Define a cor para links visitados */
  text-decoration: none;
  margin-left: 5px;
  font-size: 20px;
}

#rodape {
  display: flex;
  margin-top: 20px;
  padding: 15px;
  margin-left: 50px;
  margin-top: 50px;
  color: #ffffff;
  text-decoration: none;
  /* background: blue; */
}
#social {
  margin-top: 30px;
}
